* {font-family: cursive;}
.object {
	margin-left: 240px;
}

.inter{
	font-size: 30px;
}

a { color:#000000; } 


a:visited { color:#000000; } 
body{
	background: url(pic14.jpg) no-repeat center center fixed;
  background-size: cover;
}

p {
	color: #000000;
	font-size: 40px
;
}
dd {
 color:	#800000;
}


a {
	font-size: 25px;
}